<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CrystalQuartzTest</title>
</head>
<body>
    <h1>CrystalQuartz</h1>
    <a href="/quartz" target="_blank">View CrystalQuartz Panel</a>
</body>
</html>