# "#"开头代表注释，在最后加上 !END 表示之后的全部忽略
quartz.threadPool.ThreadCount=21
quartz.plugin.triggHistory.type=Quartz.Plugin.History.LoggingJobHistoryPlugin, Quartz.Plugins
quartz.plugin.jobInitializer.type=Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins
quartz.plugin.jobInitializer.fileNames=quartz_jobs.xml
quartz.plugin.jobInitializer.failOnFileNotFound=true
quartz.plugin.jobInitializer.scanInterval=10
