#数据连接字符串
quartz.dataSource.myDS.connectionString=Database=Quartz;Server=.;User ID=sa;Password=123456
#数据库类型
quartz.dataSource.myDS.provider=SqlServer
#设置存储类型
quartz.jobStore.type=Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
#驱动类型
quartz.jobStore.driverDelegateType=Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
#数据源名称，于 quartz.dataSource 的属性名一样
quartz.jobStore.dataSource=myDS
#JobDataMaps 中的值只能是字符串，具体可以看官方推荐这样设置的原因
quartz.jobStore.useProperties=true
#数据存储序列号方式
quartz.serializer.type=json
#是否是集群模式
quartz.jobStore.clustered=true
#自动生成唯一的instanceId
quartz.scheduler.instanceId=AUTO